In [4]:
import pandas as pd
import json

# Nested JSON data
data = {
    "Employee details": [
        {
            "Employee_id": "N101",
            "Name": "John Doe",
            "Skills": {"Python": "Advanced", "Excel": "Intermediate", "SQL": "Beginner"},
            "Working": {"years": 2, "Job-Title": "Data Analysis"},
            "Location": {"City": "New York", "Country": "USA"},
            "Annual Salary": 70000

        },
        {
            "Employee_id": "L402",
            "Name": "Jane Smith",
            "Skills": {"Python": "Intermediate", "Excel": "Advanced", "SQL": "Advanced"},
            "Working": {"years": 3, "Job-Title": "Business Intelligence"},
            "Location": {"City": "London", "Country": "UK"},
            "Annual Salary": 75000
        },
        {
            "Employee_id": "S203",
            "Name": "Alice Johnson",
            "Skills": {"Python": "Beginner", "Excel": "Intermediate", "SQL": "Intermediate"},
            "Working": {"years": 1, "Job-Title": "Data Entry"},
            "Location": {"City": "Sydney", "Country": "Australia"},
            "Annual Salary": 40000
        },
        {
            "Employee_id": "T709",
            "Name": "Michael Lee",
            "Skills": {"Python": "Advanced", "Excel": "Advanced", "SQL": "Advanced"},
            "Working": {"years": 5, "Job-Title": "Machine Learning"},
            "Location": {"City": "Toronto", "Country": "Canada"},
            "Annual Salary": 120000
        },
        {
            "Employee_id": "B607",
            "Name": "Chris Brown",
            "Skills": {"Python": "Intermediate", "Excel": "Beginner", "SQL": "Intermediate"},
            "Working": {"years": 2, "Job-Title": "Data Engineering"},
            "Location": {"City": "Berlin", "Country": "Germany"},
            "Annual Salary": 65000
        }
    ]
}

# Normalizing JSON data
df = pd.json_normalize(
    data["Employee details"],
    sep="_"
)

# Display the DataFrame
print(df)

  Employee_id           Name  Annual Salary Skills_Python  Skills_Excel  \
0        N101       John Doe          70000      Advanced  Intermediate
1        L402     Jane Smith          75000  Intermediate      Advanced
2        S203  Alice Johnson          40000      Beginner  Intermediate
3        T709    Michael Lee         120000      Advanced      Advanced
4        B607    Chris Brown          65000  Intermediate      Beginner

     Skills_SQL  Working_years      Working_Job-Title Location_City  \
0      Beginner              2          Data Analysis      New York
1      Advanced              3  Business Intelligence        London
2  Intermediate              1             Data Entry        Sydney
3      Advanced              5       Machine Learning       Toronto
4  Intermediate              2       Data Engineering        Berlin

  Location_Country
0              USA
1               UK
2        Australia
3           Canada
4          Germany